/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */


/* Typography
   ========================================================================== */

// We use these to control header font sizes
$h1-font-size: rem(48);
$h2-font-size: rem(32);
$h3-font-size: rem(24);
$h4-font-size: rem(20);
$h5-font-size: rem(18);
$h6-font-size: rem(16);

$root-font-size: 16px;