#distribuicao {

	.table-distribution {
		list-style: none;
		padding: 0;

		> li {
			border-bottom: 1px solid #ccc;
			padding: 10px 0;
			overflow: hidden;
			font-size: .8125rem;
			@include media (small-up) { 
				font-size: 1rem;
			}

			> span,
			> div {
				float: left;
				width: 18%;
				text-align: center;
				@include media (medium-up) {  
					width: 15%;
				}

				&.table-region {
					width: 44%;
					@include media (medium-up) {  
						width: 30%;
					}
				}

				&.table-parking {
					width: 35%;
				}

				&.table-scope {
					width: 15%;
				}

				&.table-national,
				&.table-graph {
					width: 20%;
				}

				&.table-region,
				&.table-graph {
					text-align: left;
				}

				&.table-graph {
					display: none;
					@include media (medium-up) { 
						display: block;
					}
				}

				a, a:visited {
					color: shade($primary-color, 75);

					&:hover {
						color: $primary-color;		
					}
				}
			}

			&.table-header {
				text-transform: uppercase;
				font-size: .5rem;
				color: tint($text-color, 50%);
				text-align: center;
				@include media (medium-up) { 
					font-size: .625rem;
				}
			}

			.est {
				padding: 0 .25rem;
				display: inline-block;
				background-color: rgba(0,0,0,.5);
				color: #fff;
				margin: 0 4px;
				font-size: .875rem;
				width: 20px;
				height: 20px;
				line-height: 20px;
				opacity: .2;

				&.est-livre.active { background-color: #FFCC45; }
				&.est-condicionado.active { background-color: #FDB13A; }
				&.est-fixo.active { background-color: #FB8F2C; }
				&.est-escala.active { background-color: #F8781F; }

				&.active {
					opacity: 1;
				}
			}

		}
	}

}