#concelho {
	.section-content {
		@include media (small-up) {
			> div {
				@include column(12/12);

				&.graph-container {
					overflow: hidden;
				}

				.graph {
					@include column(4/12);
				}

			}

			.section-stats {
				@include column(12/12);

				li, div {
					@include column(3/12);
					&:nth-child(5n-1) {
						clear: right;
						margin-right: 0;
					}	
				}

				.stat-number{
					font-size: 2.5rem;
					color: #FFCC45;
				}

			}
		}

		.table-distribution {
			padding: 0 0 30px 0;

			.table-header {
				border-top: 1px solid #ccc;
			}

			.table-region,
			.table-parking,
			.table-scope,
			.table-national,
			.table-residents {
				width: 20%;
			}
		}
	}
}