#conclusoes-wrapper {
	min-height: 100vh;
  padding-bottom: 90px;

	.section-stats {
    	line-height: 1.4;
    	color: tint($text-color, 25);

    	ul {
    		margin-bottom: 0;

    		li {
    			margin-bottom: 10px;
          @include media (small-up) { 
            @include column(6/12, $cycle: 2);
          }
    		}

    	}

    	h4 {
    		font-size: 1.125rem;
    		color: $text-color;

    	}
  	}

  	.graph {
    	margin-bottom: 40px;
  	}

  	.section-footer {
  		margin-top: 0px;
  	}

}