#intro-wrapper {
	height: 100vh;
	min-width: 280px;
	background: #fff url('../graphics/layout/amt-3.png') bottom center repeat-x;
	background-size: 100%;
	@include media (large-up) {  
		background-size: 60%;
	}

	#intro {
		@include media (large-up) {  
			padding-top: 80px;
		}
	}

	#intro-logo {
		display: block;
		overflow: hidden;
		a {
			display: block;
			margin: 0 auto;
			background: url('../graphics/layout/intro-logo.svg') top center no-repeat;
			color: transparent;
			text-indent: 100%;
			overflow: hidden;
			margin-bottom: 20px;
			@include media (large-up) {  
				height: 120px;
				width: 410px;
			}
		}
	}

	h1 {
		margin-bottom: 10px; 
	}

	section {
		/*@include media (large-up) { */
			max-width: 670px;
			text-align: center;
			margin: 0 auto;
			background: #fff;
			box-shadow: 20px 20px 20px #fff;

			.lead {
				max-width: 570px;
				margin: 0 auto;
				background-color: #fff;
			}
		/*}*/
	}

	.social-share {
		list-style: none;
		padding: 0;
		margin-top: 30px;

		li {
			display: inline;
			margin: 0 6px;
			a {
				display: inline-block;
				width: 48px;
				height: 48px;
				overflow: hidden;
				border-radius: 4px;
				color: #fff;

				&.facebook { background-color: #3b5998; }
				&.twitter { background-color: #55acee; }
				&.linkedin { background-color: #007bb5; }
				&.googleplus { background-color: #dd4b39; }

				&:hover {
					text-decoration: none;
					span {
						background: rgba(0,0,0,.3); 
					}
				}

				span {
					padding: 14px;
					display: block;
					font-size: 1.25rem;
				}
			}
		}
	}
}

// Intro screen loading styles

@keyframes moving-fading-car {
	0% {
		right: 100%;
	}

	60% {
		opacity: 1;
	}

	100% {
		right: 0;
		opacity: 0;
	}
}

#intro-wrapper.loading-screen {
	background: none;

	.loading-car {
		position: absolute;
		width: 200px;
		top: 400px;
		animation-name: moving-fading-car;
		animation-timing-function: ease-in;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
}
