.section-category {
	font-size: 1.25rem;
  line-height: 1.4;
	text-transform: uppercase;
  font-weight: 400;
  color: tint($text-color, 50);
}

.section-nav {
  position: fixed;
  right: 10px;
  top: 50%;
  margin-top: -100px;
}

.section-stats ul{
  list-style: none;
  margin: 0 0 20px 0;
  overflow: hidden;
  padding: 0;

  li {
  	margin-bottom: 20px;
  	span{
  		max-width: 220px;
  		display: block;
  	}
  }
}

.section-content {
   clear: both;
   overflow: hidden;
}

.section-footer {
	border-top: 1px solid #ccc;
	padding-top: 20px;
  margin-top: 40px;

	p {
		font-size: .8125rem;
		color: tint($text-color, 50%);
    margin-bottom: 5px;
		strong {
			color: $text-color;
      color: tint($text-color, 25%);
		}
	}
}