#page-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  padding-bottom: 4rem;
}

.container-wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  @include media (small-up) { 
    width: 80%;
  }
}

.content-wrapper {
  overflow: hidden;
  min-height: 100vh;
  padding-top: 80px;
}

.map-wrapper {
  position: relative;
  margin-top: -20px;

  @include column(12/12);
  @include media (large-up) {
    @include column(4/12);
    min-height: 730px;
  }

  .map-svg {
    width: 78%;
    margin: 0 auto;
    min-height: 700px;
  }
}

.color-legend {
  list-style: none;
  padding: 0;
  
  span {
    display: inline-block;
    background: rgba(0,0,0,.3);
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }

  &.side-by-side {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    padding: 0 50px;
  }

  &.inline {
    @extend .inline-list;
  }
}

.legend-title {
  margin: 10px 0;
}

.section-wrapper {
  @include column(12/12);
  @include media (large-up) {
    @include column(8/12);
  }
}

.stat-description {
  color: tint($text-color, 50%);
  font-size: .875rem;
}

.two-columns {
  > li,
  > div {
    @include column(6/12);
  }
} 

.three-columns {
  @include media (large-up) {
    > li,
    >div {
      @include column(4/12, $cycle: 3);
    }
  }
} 

