#page-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  padding-bottom: 4rem;
}

.container-wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  @include media (small-up) { 
    width: 80%;
  }
}

.content-wrapper {
  overflow: hidden;
  min-height: 100vh;
  padding-top: 80px;
}

.map-wrapper {
  position: relative;
  margin-top: -30px;

  @include column(12/12);
  @include media (large-up) {
    @include column(4/12);
    min-height: 730px;
  }

  .map-svg {
    width: 78%;
    margin: 0 auto;
    min-height: 720px;
  }
}

.color-legend {
  list-style: none;
  padding: 0;
  font-size: .875rem;
  line-height: 14px;
  color: rgba(0,0,0,.7);
  
  span {
    display: inline-block;
    background: rgba(0,0,0,.3);
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-top: 3px;
  }

  &.two-by-side {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    /*padding: 0 10px;*/
  }

  &.three-by-side {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    /*padding: 0 10px;*/
  }

  &.inline {
    @extend .inline-list;
    li {
      padding: 0 8px;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.legend-title {
  margin: 10px 0;
}

.section-wrapper {
  @include column(12/12);
  @include media (large-up) {
    @include column(8/12);
  }
} 

.stat-number {
  color: #0eaeaf;
}

.stat-description {
  color: tint($text-color, 50%);
  font-size: .875rem;
}

.two-columns {
  > li,
  > div {
    @include column(6/12);
  }
} 
.three-columns {
  @include media (large-up) {
    > li,
    >div {
      @include column(4/12, $cycle: 3);
    }
  }
} 

