#page-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: green;
}

.section-wrapper {
  min-height: 100vh;
  max-width: 1170px;
  margin: 0 auto;
}

.map-wrapper {
  @include column(4/12);
  height: 100vh;
  background: red;
}

.content-wrapper {
  @include column(8/12);
}

.section-stats {
  list-style: none;
  margin: 0 0 40px 0;
  overflow: hidden;
  padding: 0;
}

.section-content {
   clear: both;
   overflow: hidden;
}

.three-columns {
  > li,
  >div {
    @include column(4/12);
  }
} 
