
body {
	line-height: 1.4;
}

h1, h2, h3, h4 {
	line-height: 1.2;
	margin: 0;
}

.stat-number {
	font-size: $h2-font-size;	
	display: block;
	font-weight: bold;
}

.lead {
	font-size: 1.25rem;
}

.section-category {
	font-size: 1.25rem;
	text-transform: uppercase;
}

h1 { font-size: $h1-font-size;}
h2 { font-size: $h2-font-size;}
h3 { font-size: $h3-font-size;}
h4 { font-size: $h4-font-size;}
h5 { font-size: $h5-font-size;}
h6 { font-size: $h6-font-size;}

p {
	margin: 0 0 20px 0;
}
