
body {
	line-height: 1.4;
}

h1, h2, h3, h4 {
	line-height: 1.2;
	margin: 0;
}

h1 { font-size: $h1-font-size;}
h2 { font-size: $h2-font-size;}
h3 { font-size: $h3-font-size;}
h4 { font-size: $h4-font-size;}
h5 { font-size: $h5-font-size;}
h6 { font-size: $h6-font-size;}

p {
	margin: 0 0 20px 0;
}

a, a:visited {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: shade($primary-color, 75);
	}
}

.stat-number {
	font-size: $h2-font-size;	
	display: block;
	font-weight: bold;
}

.lead {
	font-size: 1.25rem;
	color: tint($text-color, 50%);
}

.graph-description {
	font-size: .875rem;
	color: tint($text-color, 25%);
	text-align: center;
}